*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

header{
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
}

.nav-list{
  text-align: center;
  padding: 15px 0;
  margin: 0 auto;
}

.nav-list-item{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.main{
  width: 800px;
  display: flex;
  justify-content: center;
  padding: 50px 0;
  margin: 0 auto;
}

.main-color{
  width: 200px;
  height: 200px
}